body{
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    padding: 2opx;
}
.contact-card{
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px;
    margin: 10px auto;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0,1);
}
.contact-name{
    font-size: 18px;
    font-weight: bold;
    color: #2a4d69;
}

.contact.email{
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
