
.contact-card{
    border: var(--border);
    border-radius: 12px;
    padding: 15px;
    margin: 10px auto;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0,1);
}
.contact-name{
    font-size: 18px;
    font-weight: bold;
}

.contact.email{
    font-size: 14px;
    margin-top: 5px;
}
