
nav {
    display: flex;
    width: 100%;
    height: var(--height-nav);
    color: var(--label);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px var(--background-r);
    background-color: var(--background-nav);
    backdrop-filter: blur(10px) saturate(180%);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: .5rem;
    align-items: center;
    list-style: none;
}
